<%- include("../port/layout-start") %>
<%- include("../port/header", { user: user }) %>

<h2 class="page-header">Зарегистрироваться</h2>
<form class="form_signup" action="/api/user/signup" method="POST">
  <label class="signup_username-label">
    <span class="signup_username-desc">Имя пользователя</span>
    <input class="signup_username-input" name="username" type="text" required>
  </label>
  <label class="signup_password-label">
    <span class="signup_password-desc">Пароль</span>
    <input class="signup_password-input" name="password" type="password" required>
  </label>
  <button class="signup_submit">Отправить</button>
</form>

<%- include("../port/layout-end") %>
